div.info
{
    position: absolute;
    top: 2;
    align-items: center;
    justify-content: center;
}
/*web page background*/
body{
background: #EEFDF5;
max-width: 900px;
}
.shop-now-btn
{
    background-color: grey;
    color: white;
    border:none;
    padding: 10px;
}
/*moved from styles.css*/
.App {
    font-family: sans-serif;
  }
  .h1{
      font-size: 2;
  }
