.searchPage-container {
    min-height: 81.1vh; 
    

}

.text-container {
    padding-top: 5px;
    text-align: center;
}

.searchPage-main {
    padding-left: 11rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    overflow: auto;
    padding-bottom: 75px;
    
    
}

.product-wrapper {

    padding-bottom: 20px;
    display: flex;
    
}

.product-img {
    margin-top: 0;
    width: 30vh;
    height: 30vh;
}




.product-link {
    text-decoration: none;
    color: black;
    transition: 0.2s ease all;
}

.product-link:hover {
    text-decoration: none;
    color: green;
    transition: 0.2s ease all;
}
