.navbar-style
{
    background: #114357;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
img {
    width: 300px;
    height: 420px;
    object-fit: fill;
    margin-top: 130px;
  }
  .column {
    float: left;
    width: 33.33%;
  }
  .column img:hover{
    background: rgb(76, 175, 80);
    opacity: .6;
  }
  .overlay
  {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .search_bar input[type="text"] {
    position:absolute;
    left:70%;
    top:2%;
    width:25%;
    background-color:white;
    color:grey;
}
@media screen and (max-width: 1050px) {
    .search_bar input[type="text"] {
        position:absolute;
        left:63%;
        top:2%;
        width:25%;
        background-color:white;
        color:grey;
    }
}
@media screen and (max-width: 650px) {
    .search_bar input[type="text"] {
        position:absolute;
        left:50%;
        top:2%;
        width:25%;
        background-color:white;
        color:grey;
    }
}
.btn-info {
  background-color: #f44336;
  margin-top : 25px;
  float: right;
} 