.navbar-style
{
    background: #114357;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
img {
    width: 400px;
    height: 320px;
    object-fit: fill;
    margin-top: 130px;
  }
  .btn {
    border: none;
    color: rgb(0, 0, 0);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2196F3;
    
  }
  .btn:hover{
    background: #0b7dda;

  }
  .column {
    float: left;
    width: 30.33%;
    height: 30%;
    padding-left: 120px;
  }
  .column img:hover{
    opacity: .6;
  }
  .overlay
  {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .search_bar input[type="text"] {
    position:absolute;
    left:70%;
    top:2%;
    width:25%;
    background-color:white;
    color:grey;
}
@media screen and (max-width: 1050px) {
    .search_bar input[type="text"] {
        position:absolute;
        left:63%;
        top:2%;
        width:25%;
        background-color:white;
        color:grey;
    }
}
@media screen and (max-width: 650px) {
    .search_bar input[type="text"] {
        position:absolute;
        left:60%;
        top:2%;
        width:25%;
        background-color:white;
        color:grey;
    }
    .login-btn {
      background-color: #f44336;
      z-index: 1;
      float: right;
      position:relative;
    } 
    img {
      width: 10px;
      height: 90px;
      object-fit: scale-down;
      margin-top: 90px;
    }
    .column {
      float: left;
      width: 40.33%;
      height: 20%;
      padding-left: 50px;
    }
    .clothes
    {
      left: 20px;
      top: 55px;

    }
}
@media screen and (max-width: 920px) {
  .search_bar input[type="text"] {
      position:absolute;
      left:60%;
      top:2%;
      width:25%;
      background-color:white;
      color:grey;
  }
  .login-btn {
    background-color: #f44336;
    z-index: 1;
    float: right;
    position:relative;
  } 
  img {
    width: 100px;
    height: 200px;
    object-fit: scale-down;
    margin-top: 90px;
  }
  .column {
    float: left;
    width: 40.33%;
    height: 40%;
    padding-left: 50px;
  }
  .clothes
  {
    left: 20px;
    top: 55px;

  }
}
.login-btn {
  background-color: #f44336;
  margin-top : -200px;
  margin-left: 1200px;
  z-index: 1;
  position:relative;
} 